body {
    background-color: green;
}
.card {
    background-color: white;
    height: 560px;
    width: 320px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 20px;


}
.up{
    font-size: medium;
    background-color: red;
}
